
    .debug  [class*='col-']{
    background-color: red;
    height: 100px;
    border:1px solid black;
  }
  
  .debug2 [class*='col-']{
      height: 200px;
      background-color: crimson;
      border: 1px solid black;
      margin-bottom: 20px;
  }
  .nopadding {
    padding: 0;
    margin: 0 ;
 }
.debug3>[class*='col-'] {
    background-color: red;
    border: 1px solid black;
    padding: 30px;
}
ul{
  list-style: none;
  
}


  /* tipografy */
  h1 {
    font-size: 55px;
  }
  p{
      font-size: 20px;
  }
.ms_green {
    background-color: #1abc9c;
  }
  .text_tras_up{
    text-transform: uppercase;
  }
  .bold{
    font-weight: bold;
  }
  .ms_text_white {
    color: white;
  }
  .ms_text_black {
    color: black;
  }
  .ms_text_blue{
      color: #006aff;
  }
  .ms_text_darkblue{
    color: #031c4e;
  }
  .p_text_color-grey{
    color: #5C6A88;
  }
  .bg_color_blue{
    background-color:#579aff ;
  }
 
.width_100{
    max-width: 100%;
    }
  .height{
      height: 300px;
  }
  .ms_green {
    background-color: #1abc9c;
  }
  .text_tras_up{
    text-transform: uppercase;
  }
  .ms_text_white {
    color: white;
  }
  .ms_text_black {
    color: black;
  }
  /* margini */
  .m_top_bott_50{
    margin: 50px 0;
  }
  .m_top_bott_20{
    margin: 20px 0;
  }
  .m_top_bott_50{
    margin: 50px 0;
  }
  .m_top_30{
    margin-top: 30px;
  }
  .m_top_50{
    margin-top: 50px;
  }
  .m_bottom_30{
    margin-bottom: 30px;
  }
  .m_bottom_10{
    margin-bottom: 10px;
  }
  .m_top_20{
    margin-top: 20px;
  }
 
  /* padding */
  .pd_B_30{
    padding-bottom: 30px;
  }
  .pd_B_10{
    padding-bottom: 10px;
  }
  .pd_B_5{
    padding-bottom: 20px;
  }

  nav .row {
    line-height: 80px;
}
    nav .row img {
    margin-top:-6px ;
}
nav .row  a{
    text-decoration: none;
    font-size: 13px;
    padding-left: 20px;
    color:#031c4e;
    font-weight: bold;
}
nav .row  a:hover{  
    color: #006aff;
}
nav .row  a i{
    vertical-align: middle;
    padding-left: 5px;
}

 .btn-primary-outline2{
    margin-left:20px ;
    color: #006aff;
    border: 1px solid #006aff;
     font-weight: bold;
}
  .btn-primary-outline-large{
    width: 100%;
    
}
nav .row button:hover{
    background-color:#006aff; 
    color: white;
    transition: 0.3s;
}
.jumbotron_{
    background-image: url("../img/bg-home-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}  
.jumbotron_ .row p {
color:#bbcdff;
}  
.jumbotron_ .row .deploy-app{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding:30px 15px;
}
.jumbotron_ .row .deploy-app h2{
    font-weight: bold;
    margin:0 ;
}
.jumbotron_ .row .deploy-app  .form-control{
    padding-bottom: 5px;
}
.jumbotron_ .row .deploy-app  button{
    font-size: 15px;
    position: relative;
}
.jumbotron_ .row .deploy-app  button img{
  width: 20px;
  position: absolute;
  top:22%;
  left:4%;
  transform: translate(-50%,-5%);
}
.deploy-app  button:last-of-type:hover{
  background-color: #ef6c64;
  color: white;
}
.deploy-app span{
  font-size: 11px;
}
#businesses{
  background-color: #f3f5f9;
}
#businesses .row{
  line-height: 100px;
}

#businesses .row img{
    max-width: 150px;
}
#businesses .row:last-of-type a{
  font-size: 20px;
}
#deploy .row ul{
  border-left: 2px solid grey;
  padding: 16px;
}
#deploy .row ul li {
  padding-bottom:20px ;
}
#deploy .row ul li a{
  text-decoration: none;
  font-size: 20px;
}
